body{
    background: #EEE7E6;
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2 {
    font-family: CooperHewittBook;
    color: rgb(87, 15, 15);
}

p {
    font-family: CooperHewittBook;
    color: rgb(71, 71, 70);
}

nav{
    margin: 0px 0px 0px 100px;
    font-family: CooperHewittBook;
    color: rgb(87, 15, 15);
}

header{
    margin-top: 0px;
}

p {
    font-size: 20px;
}

img {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

#menu {
    background: white;
}

#main{
    margin: 0px 200px 0px 100px;
}